<title>Index</title>

{% block content %}
    <label for="query"></label>
    <input type="text" name="query" id="query" value="" placeholder="type query" size="150">

    <button id="submitSearch" class="float-left submit-button" >Search</button>

    <script type="text/javascript">
    document.getElementById("submitSearch").onclick = function () {
        textQuery = document.getElementById("query").value
        if (textQuery === "") {alert("No text to search provided")}
        else {location.href = location.href + "/search?text=" + textQuery;}
    };
    </script>
{%  endblock %}