<title>
    {% block title %}
    {% if found == -1 %}
        Malformed query
    {% elif found == 0 %}
        Not found
    {% else %}
        Found: {{ found }}
    {%  endif %}
    {% endblock %}
</title>

{% block content %}
    <h1><a href="..">To index</a></h1>

    {% if searched|length > 0 %}
        <ul>
        {% for result in searched %}
            <li>
            File: {{ result.0 }}; Similarity score: {{ result.1 }}; Url: <a href="{{ result.2 }}">{{ result.2 }}</a>;
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Search</title>#}
{#</head>#}
{#<body>#}
{#{% if searched is not None%}#}
{#    <ul>#}
{#    {% for question in latest_question_list %}#}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>No polls are available.</p>#}
{#{% endif %}#}
{#</body>#}
{#</html>#}